.button {
    max-width: 600px;
    border: 0;
    background-color: var(--red-900);
    color: var(--white);
    padding: .4rem;
    border-radius: .5rem;
    transition: filter .2s;

    &[disabled] {
        cursor: not-allowed;
        svg {
            animation: animate 2s infinite;
        }
    }

    &:hover {
        filter: brightness(1.08);
    }

}

.buttonText {
    color: var(--white);
}

@keyframes animate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


